<div class="email-input">
    <ng-container *ngFor="let emailInput of emailInputs; let i = index">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input [name]="'email'+ i.toString()" [(ngModel)]="emailInput.address" matInput (change)="passData()">
            <button [matMenuTriggerFor]="menu" matSuffix mat-icon-button>
                <mat-icon class="item-icon">more_vert</mat-icon>
            </button>
        </mat-form-field>

    </ng-container>
    <mat-menu #menu="matMenu" class="menu">
        <button class="menuButton" (click)="openDialog()"> <mat-icon class="menuIcon">add</mat-icon> Adicionar
            Email</button>
    </mat-menu>
</div>