<div class="container">
  <mat-card-content>
    <form
      class="login-form"
      [formGroup]="signInForm"
      #formDir="ngForm"
      (submit)="submitLogin()"
    >
      <h1 class="title">OpenERX</h1>

      <mat-form-field
        [hideRequiredMarker]="true"
        class="username-input"
        appearance="outline"
      >
        <mat-label class="placeholder">Usuário ou e-mail</mat-label>
        <input matInput required formControlName="accessKey" />
        <mat-error *ngIf="accessKey?.invalid">Usuário é obrigatório</mat-error>
      </mat-form-field>
      <mat-form-field [hideRequiredMarker]="true" appearance="outline">
        <mat-label class="placeholder">Senha</mat-label>
        <input matInput required formControlName="password" type="password" />
        <mat-error *ngIf="password?.invalid">Senha é obrigatória</mat-error>
      </mat-form-field>

      <div class="button">
        <button
          *ngIf="accessKey?.invalid || password?.invalid; else buttonActive"
          mat-raised-button
          color="primary"
          disabled="true"
        >
          Entrar
        </button>
      </div>
      <a href="#" class="forgot-password">Esqueceu a senha?</a>
    </form>
  </mat-card-content>
  <ng-template #buttonActive>
    <button mat-raised-button color="primary" disabled="false" type="submit">
      Entrar
    </button></ng-template
  >
</div>
