<div class="address-detail">
    <div class="header">
        <div class="app-title">
            Endereços
        </div>
        <div class="button">
            <button mat-icon-button [matMenuTriggerFor]="secondMenu">
                <mat-icon class="item-icon">more_vert</mat-icon>
            </button>
        </div>
    </div>
    <div class="address" *ngFor="let address of addresses; let i = index" (click)="selectEmail(i)">
        <div class="app-address" [matMenuTriggerFor]="menu">
            <div class="lateral-bar">
                <p>|</p>
            </div>
            <div class="address-data">
                <div class="app-label">
                    {{addressType(i)}}
                </div>
                <div class="app-value">
                    <span>{{address.street}}</span>
                    <span>&nbsp; </span>
                    <span>{{address.number}}</span>
                    <span>&nbsp; </span>
                    <span>{{address.complement}}</span>
                </div>
                <div class="app-value">
                    <span>{{address.district}}</span>
                    <span>&nbsp;-&nbsp;</span>
                    <span>{{address.city}}</span>
                </div>
                <div class="app-value">
                    <span>CEP: {{address.zipCode}}</span>
                </div>
                <div class="app-note">
                    {{address.note}}
                </div>
            </div>
        </div>
    </div>
</div>
<mat-menu #menu="matMenu" class="menu">
    <button class="menuButton" (click)="openDialog()"> <mat-icon class="menuIcon">add</mat-icon> Adicionar
        Endereço</button>
    <button class="menuButton" (click)="openEditDialog()"> <mat-icon class="menuIcon">edit</mat-icon> Editar
        Endereço</button>
    <button class="menuButton" (click)="deleteAddress()"> <mat-icon class="menuIcon">delete</mat-icon> Deletar
        Endereço</button>
</mat-menu>
<mat-menu #secondMenu="matMenu" class="menu">
    <button class="menuButton" (click)="openDialog()"> <mat-icon class="menuIcon">add</mat-icon> Adicionar
        Endereço</button>
    <button class="menuButton" (click)="deleteAllAddress()"> <mat-icon class="menuIcon">clear_all</mat-icon> Excluir
        Todos</button>
</mat-menu>