<div class="customer-toolbar">
  <div class="customer-text">Novo Cliente</div>
  <div class="customer-buttons">
    <button
      mat-raised-button
      color="primary"
      class="button-left"
      style="border-radius: 24px"
    >
      Confirmar
    </button>
    <button mat-raised-button class="button-right" style="border-radius: 24px">
      Cancelar
    </button>
  </div>
</div>
<div class="customer-form">
  <div class="customer-card">
    <div class="customer-title">Cliente</div>
    <app-customer-input></app-customer-input>
  </div>
</div>
