.customer-toolbar {
  display: flex;
  height: 4rem;
  flex-direction: row;
  align-items: center;
  border-bottom-width: 1px;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
  border-bottom: 1px solid #e0e0e0;
}

.customer-buttons {
  margin-left: auto;
}

.customer-text {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.button-left .button-right {
  padding: 0 16px 0 16px;
  box-shadow: 0 3px 1px -2px #0003, 0 2px 2px #00000024, 0 1px 5px #0000001f;
}

.button-right {
  margin-left: 8px;
}

.customer-card {
  display: flex;
  padding: 0.25rem;
  border: 1px solid #ebebeb;
  margin: 0.25rem;
  border-radius: 8px;
  padding: 0.75rem;
  flex-direction: column;
}

.customer-title {
  font-size: 18px;
  line-height: 20px;
  color: #616161;
  word-wrap: break-word !important;
  padding-bottom: 1rem;
  padding-top: 0.25rem;
  padding-left: 5px;
  padding-right: 5px;
}
